.card {
    position: relative;
    margin-bottom: 10px;

    border-radius: 5px;
    height: 100%;
    padding: 20px;
    overflow: hidden;
    background: white;
    color: #111010;
    /*  box-shadow:
              rgb(50 50 93 / 25%) 0 13px 27px -5px, rgb(0 0 0 / 30%) 0 8px 16px -8px;
  */
    .scrollContainer {
        position: absolute;
        overflow: auto;
    }

   /* top: min(max(9 * 1.29vw / 16), 1.29vh);
    right: min(max(9 * 1.3vw / 16), 1.3vh);
    padding: 0 min(max(9 * 1.4vw / 16), 1.4vh) min(max(9 * 1.4vw / 16), 1.4vh);
*/

}



@media (max-width: 640px) {
    .card {
        font-size: 14px;

        .scrollContainer {
            padding: 15px;
        }
    }
}
