

.cards{
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  max-width: 100%;
}
.cards button{
  background: rgb(0 0 0 / 56%);
  border: none;

}
.cards .card {
  width:  10%;
  height: 10%;
}
.cardBody {

}
.text {
  overflow: hidden;
  height: 10vh;
}
.cards img {

  width:  100%;
  height: 100%;
  max-width: 300px  !important;

  object-fit: contain; /* Всю, выше указанную, облась заполнить картинкой */
  object-position: top;
}
.cards div {
  margin: 10px;
  max-width: 300px  !important;

}