.filtersContainer {

}

.filters::-webkit-scrollbar {
    display: none;
}

/*@media (min-width: 500px) {
    .filters {

        display: flex;
       flex-wrap: wrap !important;
    }
}*/
.filters {
    scroll-snap-type: x mandatory;
    flex-direction: row;
}
.filters span {
    margin-left: 6px;
    scroll-snap-align: start;
    max-height: 30px;
}
.animalContainer {
    display: contents;
}
.panel, .animalContainer {
    position: sticky;
    right: 0;
    width: 100%;
    background: var(--bg-color);
    color: white;

}
.panel .mainButton {
    width: auto;

}
@media (max-width: 640px) {
    .panel .mainButton {
        width: 100%;
    }
}
.panel nav{
    background: none
}

.panel a{
    margin-left: 6px;
}
.tabs {
    --bs-nav-tabs-link-active-bg:var(--bg-color);
    --bs-nav-tabs-link-active-color: white;
    --bs-nav-link-color: white;
    --bs-nav-link-hover-color: white;
    

}

