.panel{
    position: sticky;
    right: 0;
    width: 100%;
    background: var(--bg-color);
    color: white;
    opacity: 1;
}
.panel2 {
    position: sticky;
    right: 0;

    width: 100%;
    background: var(--bg-color);
    color: white;
    opacity: 1;

}
.panel2 span{
    margin-top: 6px;
    margin-right: 6px;
}
.panel a{
    margin-left: 6px;
}
.tabs a, .tabs:hover a, .tabs a.active{
    color: white !important;
    background: none !important;
}